[Unit]
Description=Orabos Init Network
DefaultDependencies=no
Wants=ovsdb-server.service
Wants=ovs-vswitchd.service
After=ovsdb-server.service
After=ovs-vswitchd.service
PartOf=network.target
Before=cloud-init.service
Conflicts=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/netplan apply
RemainAfterExit=yes
TimeoutSec=0

# Output needs to appear in instance console output
StandardOutput=journal+console

[Install]
WantedBy=cloud-init.service
