[Unit]
Description=Fixup OVSDb permissions
DefaultDependencies=no
Wants=ovsdb-server.service
After=ovsdb-server.service
PartOf=network.target
Before=multi-user.target
Conflicts=shutdown.target

[Service]
Type=oneshot
ExecStart=
ExecStart=/usr/bin/timeout 10 bash -c 'while ! test -S /run/openvswitch/db.sock; do sleep 1; done'
ExecStart=/usr/bin/chmod g+rw /run/openvswitch/db.sock
ExecStart=/usr/bin/chgrp openvswitch /run/openvswitch/db.sock
RemainAfterExit=yes
TimeoutSec=0
StandardOutput=journal

[Install]
WantedBy=multi-user.target
