[Unit]
Description=Orabos Init Local (pre-networking)
DefaultDependencies=no
Wants=cloud-init-local.service
After=cloud-init-local.service
Before=NetworkManager.service
Before=network-pre.target
Before=shutdown.target
Before=sysinit.target
Conflicts=shutdown.target

[Service]
Type=oneshot
ExecStart=/var/lib/orabos/init.py
RemainAfterExit=yes
TimeoutSec=0

# Output needs to appear in instance console output
StandardOutput=journal+console

[Install]
WantedBy=network-pre.target
