[Unit]
Description=Directory (/var)
Documentation=man:file-hierarchy(7)
ConditionPathIsSymbolicLink=!/var
DefaultDependencies=no
Conflicts=umount.target
Before=local-fs.target umount.target
After=-.mount
After=blockdev@dev-disk-by\x2dlabel-persistent.target

[Mount]
What=/dev/disk/by-label/persistent
Where=/var
Type=btrfs
Options=subvol=/var

[Install]
WantedBy=local-fs.target
