#!/bin/bash

set -Eeufo pipefail

mkdir -p /opt/github_action_runner
cd /opt/github_action_runner

curl -s -f -L "https://github.com/actions/runner/releases/download/v2.287.1/actions-runner-linux-$([ "$arch" = amd64 ] && echo x64 || echo "$arch")-2.287.1.tar.gz" | tar xz

systemctl enable github_action_runner.service

echo '{ "registry-mirrors": [ "http://10.0.2.2:5000" ] }' > /etc/docker/daemon.json
