#!/usr/bin/env bash
set -Eeuo pipefail

# Undo the gardener feature disablement
systemctl enable ssh

# UID taken from sles 15, looks like it runs as root in debian/gardenlinux
adduser --uid 476 openvswitch \
  --system --group --no-create-home --disabled-password --disabled-login

adduser root openvswitch # Otherwise does not want to run as root:openvswitch

function create() {
  NAME=$1
  shift
  ID=$1
  shift
  adduser --uid $ID --home /var/lib/$NAME $NAME \
    --system --group --disabled-password --disabled-login
  echo "$@"
  for group in "$@"; do
    adduser $NAME $group
  done
}

create openstack 42424
create neutron 42435 openvswitch
create nova 42436 libvirt openvswitch
mkdir -p /var/lib/nova/{.ssh,instances,mnt}
chown -R nova:libvirt-qemu /var/lib/nova/{instances,mnt}

# limit vnc port autorange to possible kubernetes nodeports
sed -i 's/#remote_display_port_min = 5900/remote_display_port_min = 32200/' /etc/libvirt/qemu.conf
sed -i 's/#remote_display_port_max = 65535/remote_display_port_max = 32299/' /etc/libvirt/qemu.conf