#!/usr/bin/env bash
set -Eeuo pipefail

# Taken from sles 15, need to recheck for ubuntu
addgroup --system --gid 476 openvswitch

function create() {
  NAME=$1
  shift
  ID=$1
  shift
  adduser --system --group --uid $ID --home /var/lib/$NAME $NAME
  echo "$@"
  for group in "$@"; do
    adduser $NAME $group
  done
}

create openstack 42424
create neutron 42435 openvswitch
create nova 42436 libvirt openvswitch
sudo -u nova mkdir -p /var/lib/nova/{.ssh,instances,mnt}
