#!/usr/bin/env bash
set -Eeuox pipefail

TEMP_DEB="$(mktemp)"
wget -O "$TEMP_DEB" 'https://objectstore-3.qa-de-1.cloud.sap/v1/AUTH_b206a1900310484f8a9504754c84b067/repo/gardenlinux/gardenlinux-kvm-baremetal-ignite/ignition_2.18.0-0gardenlinux~experimental_amd64.deb'
DEBIAN_FRONTEND=noninteractive dpkg -i "$TEMP_DEB"
rm -f "$TEMP_DEB"
