#!/usr/bin/env bash
set -Eeuox pipefail

# Undo the gardener feature disablement (for now)
systemctl enable containerd

TEMP_DEB="$(mktemp)"
wget -O "$TEMP_DEB" 'https://repo.eu-de-1.cloud.sap/gardenlinux/ignition_2.18.0-0gardenlinux~experimental_amd64.deb'
DEBIAN_FRONTEND=noninteractive dpkg -i "$TEMP_DEB"
rm -f "$TEMP_DEB"

# crictl
CRI_VERSION=1.27.0

wget --show-progress --progress=bar:force -4 -P /opt/bin \
  https://github.com/kubernetes-sigs/cri-tools/releases/download/v${CRI_VERSION}/crictl-v${CRI_VERSION}-linux-amd64.tar.gz

tar -C /opt/bin -xf /opt/bin/crictl-v${CRI_VERSION}-linux-amd64.tar.gz

rm -f /root/.wget-hsts crictl-v${CRI_VERSION}-linux-amd64.tar.gz
