[Unit]
After=network-online.target

[Service]
ExecStart=/usr/local/bin/github_action_runner_launcher -c /etc/github_action_runner.conf
KillMode=process
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target
